@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

.todo {
    padding: 0;
    margin: 0;
}

.cabecera {
    background-color: #000;
    color: rgb(216, 115, 115);
    height: 60px;
    align-content: center;
}

.cuerpo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 87vh;
    background-color: beige;
}


.box {
    margin: 15px;
    border: 5px solid #000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.carta {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: rgb(248, 95, 95);
}

.box:hover{
    background: rgb(238, 108, 108);
    color: aliceblue;
}

.box:active{
    background: rgb(0, 0, 0);
    color: aliceblue;
}


.bienvenidos {
    position: relative;
    left: 40%;
}