@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/Proyecto\ desarrollo/Multimedia/FondoLogin.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.div_container{
    width: 650px;
    background-color: rgba(243, 236, 236, 0.007);
    color: black;
    border: 2px solid rgba(247, 242, 242, 0.2);
    border-radius: 30px;
    padding: 20px 25px;
    opacity: 0.95;
    transition: 0.4s ease;
    box-shadow: 1px 1px 4px rgb(250, 247, 247);
    margin: 600px 75px;
}

.div_container:hover{
    opacity: 1;
    box-shadow: 3px 3px 6px #f1f0f0;
}

.div_container h1{
    color: #faf5f5;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.div_container .container{
    width: 100%;
    height: 45px;
    margin-bottom: 13px;
    color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;

}

.div_container .container label{
    width: 45%;
    margin: 8px;
    margin-top: 23px;
    height: 100%;
    font-size: 20px;
    color: #e6e2e2;
}

.div_container .container input{
    width: 45%;
    margin: 8px;
    height: 100%;
    background: blur(2000px);
    border: none;
    outline: none;
    border: 2px solid rgba(15, 15, 15, 0.2);
    border-radius: 15px;
    opacity: 0.45;
    transition: 0.5s ease;
    color: #131212;
    font-size: 20px;
}

.div_container .container input:hover{
    opacity: 0.87; 
}

.div_container .container input::placeholder{
    font-size: 23px;
    color: #f0eded;
    font-weight: 500;
    letter-spacing: 1px;
}

.div_container .div_btn{
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    opacity: 0.45;
    transition: 0.5s ease;
}

.div_container .div_btn:hover{
    opacity: 1;
}

.div_container .div_btn input{
    width: 60%;
    padding: 10px 20px;
    border-radius: 14px;
    cursor: pointer;
    color: rgb(7, 7, 7);
    border: 1px solid rgba(255, 255, 255, 0.336);
    transition: 0.5s ease;
    opacity: 0.9;
    font-size: 22px;
    font-weight: 550;
    background-color: white;
    box-shadow: 0 0 10px rgb(250, 247, 247);
}

.div_container .div_btn input:hover{
    opacity: 0.8;
    color: #0f0f0f;
} 